
/* =============== Variables =============== */
:root {
    /* colors */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grayish-blue: hsl(240, 18%, 77%);
    --clr-dark-blue: hsl(240, 38%, 20%);
    --ff-secondary: 'Inter', sans-serif;
    --radius: 0.250rem;
    --radius-1: .50rem;
    --max-width: 1170px;
    --fixed-width: 620px;
    --transition: all 0.3s linear;
}
/* =============== Global Styles =============== */
section{
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    align-items: center;
    width: 100%;
    position: relative;
    padding:0rem 2.2rem 0 2.3rem;
    min-height: 97vh;
    justify-content: space-evenly;
}
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: left bottom;
  font-family: var(--ff-secondary);
  background-color: var(--clr-white);
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bg, .curve, .quotes{
    position: absolute;
    z-index: -1;
}
.bg{
    top:-3.0rem ;
    right: 1rem;
    width: 97%;
}
.quotes{
    top: -1.5rem;
    left:40% ;
    width: 20%;
}
.image-name{
    width: 70%;
    margin-left: 0rem;
    margin-top: 0;
    z-index: 0;
    border-radius: var(--radius-1);
}

.img-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 0;
}
.container{
    width: 100%;
    z-index: 1;
    position: relative;
}
.button{
    width: 17.5%;
    margin-top: -1.5rem;
    z-index: 2;
    background-color: var(--clr-white);
    border-color: transparent;
    border-radius: 02rem;
    padding: 0.13rem;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.1);
}
.icon-next,.icon-prev{
    padding:0.1rem 0.25rem;
    width: 40%;
}
#author{
    color: var(--clr-dark-blue);
    font-weight: 800;
    font-size: 1rem;
    display: block;
    text-align: center;
}
#info{
    color: var(--clr-dark-blue);
    font-size: 01.10rem;
    text-align: center;
    margin-bottom: 1rem;
    }
#job{
    color: var(--clr-grayish-blue);
    font-size: 1rem;
    display: block;
    text-align: center;
    font-weight: 600;
}
@media screen and (min-width: 800px) {
    .bg{
        top:-4em ;
        right: -1rem;
        width: 140%;
    }
    .quotes{
            top: -2.5rem;
            left:6rem ;
            width: 20%;
    }
    section{
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
        width: 100%;
        position: relative;
        padding:0rem 5rem 0 6rem;
        min-height: 97vh;
    }
    #author{
        font-weight: 800;
        font-size: 1rem;
        display: inline-block;
    }
    #info{
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 0.1rem;
        }
    #job{
        font-size: 1rem;
        display: inline-block;
        font-weight: 500;
    }
    .img-container{
        width: 50%;
        display: flex;
        align-items: flex-start; 
    }
    .container{
        width: 60%;
        z-index: 1;
    }
    .image-name{
        width: 100%;
        margin-left: -3rem;
        z-index: 0;
        border-radius: var(--radius);
        padding: 0rem;
    }
    .button{
        width: 20%;
        margin-top: -01.0rem;
    }
    .icon-next,.icon-prev{
        padding:0.1rem 0.35rem;
        width: 45.5%;
    }
}
.attribution {
     font-size: 16px; 
     text-align: center; 
     position: absolute;
     position: absolute;
     left: 50%;
     bottom: 0px;
     transform: translateX(-50%);
     width: 80%;
    }
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
